{% extends '::base.html.twig' %}

{% block form %}
<h1> Load files 112  </h1>

<a href="{{ path('load_file_new') }}">New111 load</a>
<a href="{{ path('load_file_newLoad') }}">New load without Entity </a>
<a href="{{ path('LoadBranch') }}">Load Branch </a>

{% endblock %}

